$color-brand-aqua: #25bebc;
$color-brand-blue-light: #59A96A;
$color-brand-blue-medium: #59A96A;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #9c5bc3;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #474A2C;
$color-header-links: #B4E7CE;

$color-button-background: $color-brand-purple;